.container {
  display: block;
  margin: 0px auto;
  padding: 30px;
  width: 80%;
  max-width: 1024px;
  min-height: 40px;
  background-color: rgb(27, 23, 18);
}
.slider {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
