.container {
  display: block;
  margin: 0px auto;
  padding: 30px;
  width: 80%;
  height: 42vw;
  max-height: 50vh;
  background-color: rgb(73, 69, 64);
}
.wrapper {
  display: grid;
  height: 100%;
  margin: 0 auto;
  width: 70%;
  max-width: 590px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'slider slider slider slider'
    'slider slider slider slider'
    'slider slider slider slider'
    'text . . buttons';
  row-gap: 15px;
  overflow: hidden;
}
.slider {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  width: 400%;
  height: 100%;
  grid-area: slider;
}
.slide {
  width: 25%;
  transition: all 0.6s ease-in-out;
}
.slider .frames .slide {
  list-style: none;
}
.slide img {
  height: 100%;
  width: 100%;
}
.slider .slide:target {
  z-index: 100;
}
.description {
  width: 1600%;
  display: flex;
  justify-self: start;
  grid-area: text;
}
.description__text {
  font-family: 'Roboto';
  font-style: normal;
  width: 25%;
  padding: 0px;
  transition: all 0.6s ease-in-out;
}
.description__text1 {
}
.buttons {
  background-color: rgb(73, 69, 64);
  overflow: hidden;
  justify-self: end;
  grid-area: buttons;
  display: flex;
}
input[type='radio'] {
  display: none;
}

.radio-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.radio-container:hover {
  border-color: wheat;
}
#input1:checked ~ .slider .slide1,
#input1:checked ~ .description .description__text1 {
  margin-left: 0px;
}
#input2:checked ~ .slider .slide1,
#input2:checked ~ .description .description__text1 {
  margin-left: -25%;
}
#input3:checked ~ .slider .slide1,
#input3:checked ~ .description .description__text1 {
  margin-left: -50%;
}
#input4:checked ~ .slider .slide1,
#input4:checked ~ .description .description__text1 {
  margin-left: -75%;
}
#input1:checked .description {
  margin-left: 0px;
}
#input2:checked .description {
  margin-left: -25%;
}
#input3:checked .description {
  margin-left: -50%;
}
#input4:checked .description {
  margin-left: -75%;
}

#input1:checked ~ .buttons .radio-container1 .label-wrapper,
#input2:checked ~ .buttons .radio-container2 .label-wrapper,
#input3:checked ~ .buttons .radio-container3 .label-wrapper,
#input4:checked ~ .buttons .radio-container4 .label-wrapper {
  border-color: rgb(6, 10, 218);
  background-color: transparent;
}
.label-wrapper {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(153, 153, 245);
  border-radius: 50%;
  border: 2px solid rgb(23, 23, 139);
}

.radio-container:hover .label-wrapper,
#input4:checked ~ .buttons .radio-container:hover .label-wrapper,
#input3:checked ~ .buttons .radio-container:hover .label-wrapper,
#input2:checked ~ .buttons .radio-container:hover .label-wrapper,
#input1:checked ~ .buttons .radio-container:hover .label-wrapper {
  border-color: rgb(199, 137, 137);
  background-color: rgb(52, 52, 141);
}
